@charset "UTF-8";

body {
    height: 530px;
    width: 300px;
    border: 1px solid 	#DDDDDD;
    border-radius: 2px;
    background-image:url(background.png);
    overflow: hidden;
    
    background-position: 9px 9px;
    background-repeat: no-repeat;
    background-origin: content-box;
    
}

#whitefade {
    background-color:white;
    width:100%;
    height:100%;
    opacity:0.9;
}


#clothicon {
    border-radius: 150px;
    background-color: white;
    width:200px;
    height:200px;
    margin:50px;
    opacity: 0.9;
}
 
.input {
    font-family: Century Gothic;
    align-content: center;
    text-align: center;
    width:200px;
    height:40px;
    margin:0px 0 0 50px;
    border-radius: 50px;
    border: 0.5px solid grey;
    font-size: 18px;
}

.input:hover {
    box-shadow: 5px 0px -5px #888888;
}

#go {
    font-family: Century Gothic;
    width:50px;
    height:50px;
    margin:30px 0 0 125px;
    border-radius: 50px;
    border: 1px solid grey;
    font-size: 18px;
    background-color: white;
}

#go:hover {
    background-color: lightgray; /* Green */
    color: white;
    box-shadow: 3px 2px 2px #888888;
}